<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
<div style="background-color: #6B7F8F;"> <!-- blue gray -->
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <!-- social media here. -->
        <!-- Grid column -->
      </div>
      <!-- Grid row-->

    </div>
  </div>	
	
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Our Purpose:</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>To connect Hawaii's students with educators during the Covid-19 pandemic through free online mentoring and tutoring.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">I want to:</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://forms.gle/8Vbi3Z6LfNQxXTAa8">Get a Tutor</a>
        </p>
        <p>
          <a href="https://forms.gle/8Vbi3Z6LfNQxXTAa8">Tutor People</a>
        </p>

      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-portrait mr-3"> </i> <a href="https://www.linkedin.com/in/richelle-cabatic-9a9260161/" target="_blank" >Richelle C</a></p>
		<p> <i class="fas fa-envelope mr-3"></i>
	<a href="mailto:rcabatic11@gmail.com?Subject=Tutoring" target="_top">rcabatic11 *at* gmail.com</a>
		</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Established 2020 </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- js -->
		
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	

	</body>
</html>