<%- include("./partials/header") %>
		
	<section id="heading-group" class="container-fluid px-0">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="row justify-content-center">
					<div class="col-11">
						<h1>
						Free Tutoring for Hawaii's Families
						</h1>
						<p>
					The COVID-19 pandemic has changed education in unprecendented ways. As we move through it, students of all ages have struggled to adjust. Having a tutor or mentor can help students focus on their learning, and provide a support system when they are lost.
						</p>
						<p>
							My name is Richelle, and I'm a Hawaii resident, born and raised on the west side of Oahu. I care deeply about educating Hawai'i. I have created this service to help Hawaii's students. This service is completely voluntary, non-binding, <strong> free </strong>of charge, and simple.  
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
			 <img class="img-fluid" src="https://images.unsplash.com/photo-1550542442-d5c354329585?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1373&q=80" alt="rainbow_hawaii">
			</div> 

		</div>	
	</section>
		
	<section id="description-group" class="container-fluid px-0">
		<div class="row align-items-center content align-content-center">
			<div class="col-md-6 order-2 order-md-1 d-md-inline">
				<img class="img-fluid" src="https://images.unsplash.com/photo-1518789492234-2eef7628ed94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="koko_head">
			</div>
			<div class="col-md-6 text-center my-2 order-1 order-md-2 blurb">
				<div class="row justify-content-center">
					 <div class="col-11">
						<h2>Who do we tutor?</h2>
						<span class="d-none d-lg-inline"><i class="fas fa-book fa-3x"></i></span>
						<p class="mt-1">
							We can tutor K-12 elementary to high school students in academic subjects such as: math, science, art, and english (just to name a few); as well as college preparation mentoring. </p>

<p> For example, you could request someone to tutor you for a weekly math lesson, or you can request someone to mentor you who can help you with college applications or talk through career decisions. All meetings are informal, and are held at the discretion of the mentee and mentor. If you only want a one-time meeting to try it out, that's okay too! The goal of this service is to connect people in whatever beneficial way possible. </p>

<p> Disclosure: Since this is primarily an online service, tutors may be from out-of state, and range from late high school and above. </p>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row align-items-center content">
			<div class="col-md-6 text-center my-2 blurb">
				<div class="row justify-content-center">
					 <div class="col-11">
						<h2>Okay, I want a tutor to help me!</h2>
						 <h3> How does it work? </h3>
						 <span class="d-none d-lg-inline"><i class="fas fa-handshake fa-3x"></i></span>
						<p class="mt-1">
							Great! Follow these steps below: <br>
						 </p>
							<ol>
								<li> Keep in mind the schedule and subject you need help in, and how often you'd like to meet. </li>
								<li>Go to the <a href="/people">tutor page</a> and read the information about our services.</li>
								<li> There will be an external link to sign-up through our partner site, <a href="https://volunteer-tutors.org/">Volunteer Tutor Organization</a></li>
								
						 	</ol>
						 <p>
							It is that simple! If there are any questions, please email me. If you are someone interested in educating younger students, feel free to also contact me!

						 </p>
					</div>
				</div>
			</div>
			<div class="d-none d-md-inline col-md-6">
				<img class="img-fluid" src="https://images.unsplash.com/photo-1509610696553-9243c1e230f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="palm_tree_road">
			</div>
			
		</div>
		
	</section>
	
<%- include("./partials/footer") %>