<%- include("./partials/header") %>
		
	<section id="heading-group" class="container-fluid px-0">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="text-center d-none d-lg-block">
					<h1>
						Free Mentoring and Tutoring <br> for Hawaii's Families
					</h1>
					<div class="container">
						<p>
					We are faced with unprecedented issues during the Covid-19 pandemic. Children are out of school, people are out of jobs, and many things are uncertain. Many students are struggling to adjust to the online learning format that this pandemic forces them to work in. Having a tutor or mentor can help students focus on their learning.
						</p>
						<p>
							My name is Richelle, and I'm a Hawaii resident, born and raised on the west side of Oahu. Although I live in the mainland to attend school, I care deeply about educating Hawai'i. I have rounded up a few capable and unique people who are willing to tutor or mentor any students that need it.This service is completely voluntary, non-binding, <strong> free </strong>of charge, and simple.  
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
			 <img class="img-fluid" src="https://images.unsplash.com/photo-1550542442-d5c354329585?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1373&q=80" alt="rainbow_hawaii">
			</div> 

		</div>	
	</section>
		
	<section id="description-group" class="container-fluid px-0">
		<div class="row align-items-center content align-content-center">
			<div class="col-lg-6 order-2 order-md-1">
				<img class="img-fluid" src="https://images.unsplash.com/photo-1518789492234-2eef7628ed94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="koko_head">
			</div>
			<div class="col-md-6 text-center my-2 order-1 order-md-2 blurb mb-5 mb-md-0">
				<div class="row justify-content-center">
					 <div class="col-10">
						<h2>Who do we tutor?</h2>
						<span class="d-none d-lg-inline"><i class="fas fa-book fa-3x"></i></span>
						<p class="mt-2">
							We are primarily looking to aid late-middle school to High school students in academic subjects such as: math, science, art, and english (just to name a few); as well as college preparation mentoring. Although, we are open minded and are willing to work with younger kids, too! </p>

<p> For example, you could request someone to tutor you for a weekly math lesson, or you can request someone to mentor you who can help you with college applications or talk through career decisions. All meetings are informal, and are held at the discretion of the mentee and mentor. If you only want a one-time meeting to try it out, that's okay too! The goal of this service is to connect people in whatever beneficial way possible. </p>

<p> Disclosure: Our mentors are not necessarily <em>professionally</em> trained counselors or tutors. Many of our educators are students who have recently graduated from university, but we have some formally educated teachers as well! </p>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row align-items-center content">
			<div class="col-md-6 text-center my-2 blurb mb-5 mb-md-0">
				<div class="row justify-content-center">
					 <div class="col-10">
						<h2>Okay, I want a tutor to help me!</h2>
						 <h3> How does it work? </h3>
						 <span class="d-none d-lg-inline"><i class="fas fa-handshake fa-3x"></i></span>
						<p class="mt-2">
							Great! Follow these steps below: <br>
						 </p>
							<ol>
								<li>Go to the <a href="/people">tutor page</a> and browse our tutors.</li>
								<li>Select one or a few people who you are interested in getting help from.</li>
								<li>Fill out the google form that allows us to connect you to the appropriate mentors. I will personally help you and the mentors you want set up a meeting.</li>
								<li>From then on, it will be up to the tutor and you to develop the appropriate virtual meeting schedule, and learn any way you want! </li>
						 	</ol>
						 <p>
							It is that simple! If there are any questions, I am happy to answer them. If you are someone interested in educating or mentoring kids, feel free to also contact me!

						 </p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="https://images.unsplash.com/photo-1509610696553-9243c1e230f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="palm_tree_road">
			</div>
			
		</div>
		
	</section>
	
<%- include("./partials/footer") %>