<%- include("./partials/header") %>
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div id="people-jumbo" class="jumbotron">
        <div class="container pl-1">
          <h1 class="display-3">Let us help you!</h1>
			
          <p>Below are our wonderful educators. Every person has a very unique specialty and educational background, but all are united by the desire to give back and help students! Availabilities are general times they are able to meet. When you're ready, click the button below to fill out a contact sheet!</p>
          <p><a class="btn btn-light btn-lg" href="https://forms.gle/8Vbi3Z6LfNQxXTAa8" role="button" target="_blank">Get Started &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- ROW 1 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Richelle Cabatic</h2>
			 <p> <strong>Degree/Speciality:</strong> BS in Physics and Computer Science </p>
			  <p>
            <p> <strong>Interests:</strong> College in Oregon and New Hampshire, PhD track career,  Physics, Planetary Science, Earth Science, Academic Research, Woman in STEM, Art, Math </p>
			  <p>
				  <strong>Availability:</strong> Weekdays (12 - 5pm PST)<br>
			  </p>
			  
          </div>
                   <div class="col-md-4 border border-light">
            <h2 class="name">Nina Yopp</h2>
			<p> <strong>Degree/Speciality:</strong> BS in Computer Science </p>
			  <p>
            <p> <strong>Interests:</strong> Air Force Enlisted, College at Trident University (online), deployments, military, IT Networking   </p>
			  <p>
				  <strong>Availability:</strong> Weekdays (4 - 6pm HST)<br>
			  </p>
			  
          </div>
                    <div class="col-md-4 border border-light">
            <h2 class="name">Jamie Valdez</h2>
			 <p> <strong>Degree/Speciality:</strong> BS in Media, Culture, and Communication </p>
			 <p>
            <p> <strong>Interests:</strong> NYU Alumni (Fall '19), Film, TV Production and Development, Studying Abroad  </p>
			  <p>
				  <strong>Availability:</strong> Mon-Tues All Day, willing to make time any other day<br>
			  </p>
			  
          </div>
        </div> <!-- end of row -->
		          <!-- ROW 2 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Selena Vanapruks</h2>
			  <p> <strong>Degree/Speciality:</strong> BA in Molecular Biology </p>
			  <p>
            <p> <strong>Interests:</strong> College on the East Coast, Biology  </p>
			  <p>
				  <strong>Availability: </strong> Flexible<br>
			  </p>
			  
          </div>
                   <div class="col-md-4 border border-light">
            <h2 class="name">James Armstrong</h2>
			  <h6> <i class="fas fa-apple-alt"></i> </h6>
			<p> <strong>Degree/Speciality:</strong> Masters in physics (specilizing in nuclear theory) PhD. in astronomy, Institute for Astronomy Employee, Faulkes Telescope </p>
			  <p>
            <p> <strong>Interests:</strong> Physics and Astronomy</p>
			  <p>
				  <strong>Availability:</strong> Flexible. Prefer afternoons (HST) <br>
			  </p>
			  
          </div>
                    <div class="col-md-4 border border-light">
            <h2 class="name">Chelsey Jay</h2>
			  <h6> <i class="fas fa-apple-alt"></i> </h6>
			<p> <strong>Degree/Speciality:</strong>Malama Learning Center Employee  </p>
			  <p>
            <p> <strong>Interests:</strong> Conservation --  </p>
			  <p>
				  <strong>Availability:</strong><br>
			  </p>
			  
          </div>
        </div> <!-- end of row -->
		  
		            <!-- ROW 3 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Alexine Niro</h2>
			  <p> <strong>Degree/Speciality:</strong> BS in Mechanical Engineering </p>
			  <p>
            <p> <strong>Interests:</strong> Mechanical Engineering, STEM, Math  </p>
			  <p>
				  <strong>Availability: </strong> Mon, Wed 12PM - 5PM (HST)<br>
			  </p>
			  
          </div>
                   <div class="col-md-4 border border-light">
            <h2 class="name">Arvin Rapanut</h2>
			<p> <strong>Degree/Speciality:</strong> BS in Management of Information and Technology </p>
			  <p>
            <p> <strong>Interests:</strong> Information Tech, Programming</p>
			  <p>
				  <strong>Availability:</strong><br>
			  </p>
			  
          </div>
                    <div class="col-md-4 border border-light">
            <h2 class="name">Tyler Kahikina</h2>
			<p> <strong>Degree/Speciality:</strong> - </p>
			  <p>
            <p> <strong>Interests:</strong> Conservation --  </p>
			  <p>
				  <strong>Availability:</strong><br>
			  </p>
			  
          </div>
        </div> <!-- end of row -->
		  
		   <!-- ROW 4 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Jozette Cortez</h2>
			  <p> <strong>Degree/Speciality:</strong> BA in Communications: Film Studies</p>
			  <p>
            <p> <strong>Interests:</strong> College in Seattle, Film Studies, Film and Media Production, Interior/Set Design, Working a billion jobs simultaneously </p>
			  <p>
				  <strong>Availability: </strong> Flexible<br>
			  </p>
			  
          </div>
                   <div class="col-md-4 border border-light">
            <h2 class="name">Bryson Ricamona</h2>
			<p> <strong>Degree/Speciality:</strong> BS </p>
			  <p>
            <p> <strong>Interests:</strong> College in Oregon, Developemntal and Cell Biology, STEM, MD/PhD </p>
			  <p>
				  <strong>Availability:</strong> Flexible<br>
			  </p>
			  
          </div>
                    <div class="col-md-4 border border-light">
            <h2 class="name">Evy Braum</h2>
			  <h6> <i class="fas fa-apple-alt"></i> </h6>
				<p> <strong>Degree/Speciality:</strong> MS in Natural Resources </p>
			  <p>
            <p> <strong>Interests:</strong>Science, Natural Resources, Biology </p>
			  <p>
				  <strong>Availability:</strong> Flexible<br>
			  </p>
			  
          </div>
        </div> <!-- end of row -->
	<p>
		<i class="fas fa-apple-alt"></i> = Formal Educator/Teaher</p>
		  <p>Interested in being added to the list? Email Richelle or Fill out the form above!</p>
      </div> <!-- /container -->

    </main>


<%- include("./partials/footer") %>