<%- include("./partials/header") %>
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div id="people-jumbo" class="jumbotron">
        <div class="container pl-1">
          <h1 class="display-3">Let us help you!</h1>
			
          <p>Below are our wonderful educators. Every person has a very unique specialty and educational background, but all are united by the desire to give back and help students! Availabilities are general times they are able to meet. When you're ready, click the button below to fill out a contact sheet!</p>
        </div>
		 <p><a class="btn btn-light btn-lg" href="https://forms.gle/8Vbi3Z6LfNQxXTAa8" role="button" target="_blank">Get Started &raquo;</a></p>
      </div>

      <div class="container">
        <!-- ROW 1 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Richelle Cabatic</h2>
			  <p>
				 A Kapolei Highschool Graduate (2015). Graduated from the University of Oregon (2019), and started at a PhD program at Dartmouth College (2019). Formerly worked for NASA (2018). Currently based in Irvine, USA. 
			  </p>
			 <p> <strong>Certifications:</strong> BS in Physics and Computer Science </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects/Tutoring Subjects:</strong> College in Oregon and New Hampshire, PhD track careers, Physics, Planetary Science, Polar Science, Woman in STEM, Art, Math (Algebra, Geometry, Pre-Calc, Calculus), Russian (Basic/A1), College Prep </p>
			  <p>
				  <strong>Availability:</strong> Weekdays (12 - 5pm PST)<br>
			  </p>
			  
          </div>
                   <div class="col-md-4 border border-light">
            <h2 class="name">Nina Yopp</h2>
			<p>
				A Cambell Highschool Graduate (2015). She enlisted into the military and earned a degree online from Trident University. 
			</p>
			<p> <strong>Certifications:</strong> BS in Computer Science </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Deployments, Military, IT Networking   </p>
			  <p>
				  <strong>Availability:</strong> Weekdays (4 - 6pm HST)<br>
			  </p>
			  
          </div>
                    <div class="col-md-4 border border-light">
            <h2 class="name">Jamie Valdez</h2>
			<p>
				A Kapolei Highschool Grad (2016). She graduated from New York University (2019).
			 <p> <strong>Certifications:</strong> BS in Media, Culture, and Communication </p>
			 <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Film, TV Production and Development, Studying Abroad  </p>
			  <p>
				  <strong>Availability:</strong> Mon-Tues All Day, willing to make time any other day<br>
			  </p>
			  
          </div>
        </div> <!-- end of row -->
		          <!-- ROW 2 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Selena Vanapruks</h2>
			  <p>
				  A Kapolei Highschool Grad (2016). Graduates from Colgate University (May 2020).
			  </p>
			  <p> <strong>Certifications:</strong> BA in Molecular Biology </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> College on the East Coast, Biology,  Chemistry, General Science, Math (PreK to pre-calc), English/reading (PreK up to college), college prep (SAT/ACT/essay), psychology, Japanese (up to intro level), Physics</p>
			  <p>
				  <strong>Availability: </strong> Flexible<br>
			  </p>
			  
          </div>
                   <div class="col-md-4 border border-light">
            <h2 class="name">James "JD" Armstrong</h2>
			<h6> <i class="fas fa-apple-alt"></i> </h6>
			<p>
				  The Maui Technology Education and Outreach Specialist at the University of Hawaii’s Institute for Astronomy (IfA) in Pukalani. Researchs exoplanets, asteroids, comets, stellar objects, double stars. Manages UH’s time on the Faulkes Telescope North (FTN) atop Haleakala.
			  </p>
			<p> <strong>Certifications:</strong> Ms in Physics (specilizing in nuclear theory), PhD in Astronomy </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Physics and Astronomy</p>
			  <p>
				  <strong>Availability:</strong> Flexible. Prefer afternoons (HST) <br>
			  </p>
			  
          </div>
                    <div class="col-md-4 border border-light">
            <h2 class="name">Chelsey Jay</h2>
			  <h6> <i class="fas fa-apple-alt"></i> </h6>
			<p>
				A Kamehameha schools graduate, and the Education and Community Partnerships Coordinator for the Malama Learning Center, a non-profit organization that promotes sustainability.
			</p>
			<p> <strong>Certifications:</strong> BS in Environmental Science and Resource Management; Ms in Education</p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Natural Resources in Hawai'i, 'Aina-Based Education (Place-Based), Community-Based Work, Empowering local youth to be engaged with 'aina (land and sea) in meaningful ways</p>
			  <p>
				  <strong>Availability:</strong> Mon, Thursdays, Fridays are somewhat flexible (easiest just to email me)<br>
			  </p>
			  
          </div>
        </div> <!-- end of row -->
		  
		            <!-- ROW 3 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Alexine Niro</h2>
			  <p>
				  A Kapolei Highschool Grad (2015). A Disney College Programs participant. 
			  </p>
			  <p> <strong>Certifications:</strong> BS in Mechanical Engineering </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Mechanical Engineering, STEM, Math, Disney College Programs, Research, and Digital Art  </p>
			  <p>
				  <strong>Availability: </strong> Mon, Wed 12PM - 5PM (HST)<br>
			  </p>
			  
          </div>
                   <div class="col-md-4 border border-light">
            <h2 class="name">Arvin Rapanut</h2>
			<p>
						   A Kapolei Highschool Grad (2015). Enlisted in the Army (2015). Currently based in New Jersey, USA.
			</p>
			<p> <strong>Certifications:</strong> BS in Management of Information and Technology </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Information Tech, Programming</p>
			  <p>
				  <strong>Availability:</strong><br>
			  </p>
			  
          </div>
                    <div class="col-md-4 border border-light">
            <h2 class="name">Tyler Kahikina</h2>
			<p>
				A Kapolei Highschool Grad (2015). Currently based in Lanai, HI. 
			</p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Japanese and Hospitality   </p>
			  <p>
				  <strong>Availability:</strong> Monday - Friday,  11 - 3pm<br>
			  </p>
			  
          </div>
        </div> <!-- end of row -->
		  
		   <!-- ROW 4 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Jozette Cortez</h2>
			  <p>
				  A Kapolei Highschool Grad (2015). Currently based in Los Angeles, USA.
			  </p>
			  <p> <strong>Certifications:</strong> BA in Communications: Film Studies</p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> College in Seattle, Film Studies, Film and Media Production, Interior/Set Design, Working a billion jobs simultaneously </p>
			  <p>
				  <strong>Availability: </strong> Flexible<br>
			  </p>
			  
          </div>
                   <div class="col-md-4 border border-light">
            <h2 class="name">Bryson Ricamona</h2>
			<p>
				A Mililani Highschool Grad (2016). Graduates from the University of Oregon (2020).
			</p>
			<p> <strong>Certifications:</strong> BS </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> College in Oregon, Developemntal and Cell Biology, STEM, MD/PhD </p>
			  <p>
				  <strong>Availability:</strong> Flexible<br>
			  </p>
			  
          </div>
                    <div class="col-md-4 border border-light">
            <h2 class="name">Evy Braum</h2>
			  <h6> <i class="fas fa-apple-alt"></i> </h6>
				<p>
				A Malama Learning Center employee and Biology Teacher at Kapolei Highschool (2017 - 2018)
			</p>
				<p> <strong>Certifications:</strong> MS in Natural Resources </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong>Science, Natural Resources, Biology </p>
			  <p>
				  <strong>Availability:</strong> Flexible<br>
			  </p>
			  
          </div>
        </div> <!-- end of row -->
		     <!-- ROW 5 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Anna Pastoria</h2>
			  <p>
				  Currently based in Portugal, and owns her own wedding photogrpahy business. 
			  </p>
			  <p> <strong>Certifications:</strong> PhD in communication sociology </p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Photography, sociology, performing arts, Portguese </p>
			  <p>
				  <strong>Availability: </strong> Flexible<br>
			  </p>
          </div>
			 <div class="col-md-4 border border-light">
            <h2 class="name">Brita Horlings</h2>
			  <p>
				  Currently a PhD Student at Dartmouth College; based in New Hampshire, USA.
			  </p>
			  <p> <strong>Certifications:</strong> BS in geology (minor in mathematics), MS in Earth and Space Science (specialized in glaciology)</p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Geology; snow and ice core science; STEAM; college in Portland (OR),  Seattle, and in New Hampshire</p>
			  <p>
				  <strong>Availability: </strong> Flexible<br>
			  </p>
          </div>
		   <div class="col-md-4 border border-light">
            <h2 class="name">Kyle Sombrero</h2>
			  <h6> <i class="fas fa-apple-alt"></i> </h6>
			  <p>
				  A former Japanese Teacher at Punahou Schools for five years. Currently Studying Computer Science.
			  </p>
			  <p> <strong>Certifications:</strong> BS in Economics, Theatre, and Japanese</p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Japanese, Economics, Math, Programming </p>
			  <p>
				  <strong>Availability: </strong> Monday, Wednesday, Friday; 9 - 12pm
			  </p>
			</div>
        </div> <!-- end of row -->
		<!-- ROW 6 -->
        <div class="row border border border-dark px-2 py-3 d-flex justify-content-around">
          <div class="col-md-4 border border-light">
            <h2 class="name">Lei'a Haff</h2>
			  <p>
				  A Kapolei Highschool Grad (2015). Currently pursuing MA in Marketing.  
			  </p>
			  <p> <strong>Certifications:</strong> BA in Business Administrations with a concentration in Marketing, Certificate in Social Media Marketing</p>
			  <p>
            <p> <strong>Interests/Tutoring Subjects:</strong> Marketing, Business </p>
			  <p>
				  <strong>Availability: </strong> Monday - Fridays, 2-6om
			  </p>
          </div>
			
        </div> <!-- end of row -->
		  
		  
	<p><i class="fas fa-apple-alt"></i> = Formal Educator/Teacher</p>
		  <p>Interested in being added to the list? Email Richelle or Fill out the form above!</p>
      </div> <!-- /container -->

    </main>


<%- include("./partials/footer") %>